/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  G  |     |  J  |  L  |  U  |  Y  |  ;  |
// |  A  |  R  |  S  |  T  |  D  |     |  H  |  N  |  E  |  I  |  O  |
// |  Z  |  X  |  C  |  V  |  B  |     |  K  |  M  |  ,  |  .  |  '  |
//             | TAB | XXX | ENT |     | BSPC| SPACE | DEL |
        bindings = <
   &kp Q &kp W &kp F &kp P &kp G           &kp J &kp L &kp U &kp Y &kp SEMI
   &kp A &kp R &kp S &kp T &kp D           &kp H &kp N &kp E &kp I &kp O
   &kp Z &kp X &kp C &kp V &kp B           &kp K &kp M &kp COMMA &kp DOT &kp APOS
           &kp TAB XXXXXX &kp ENTER     &kp BSPC &kp SPACE &kp DEL

                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |      |  UP  |       | DEL |     |  STAR  |  N7  |  N8  |  N9  | MINUS |
// |      | LEFT | DOWN | RIGHT |     |     |  FSLH  |  N4  |  N5  |  N6  |KP_PLUS|
// | LGUI |      |      |       |     |     |KP_EQUAL|  N1  |  N2  |  N3  |  N0   |
//                 | TAB | XXX | ENT |     | BSPC| SPACE | DOT |
        bindings = <
   &kp ESC  &none    &kp UP    &none     &kp DEL       &kp STAR     &kp N7 &kp N8 &kp N9 &kp MINUS
   &none    &kp LEFT &kp DOWN  &kp RIGHT &none         &kp FSLH     &kp N4 &kp N5 &kp N6 &kp KP_PLUS
   &kp LGUI &none    &none     &none     &none         &kp KP_EQUAL &kp N1 &kp N2 &kp N3 &kp N0
           &kp TAB XXXXXX &kp ENTER             &kp BSPC &kp SPACE &kp DOT                     
>;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | F1 | F2 | F3 | F4 | F5 |     | F8 | F9  | F10 | F11 | F12 |
// |    |    |    |    | F6 |     | F7 |GRAVE| LBKT| RBKT| BSLH|
// |    |    |    |    |    |     |    |     |     |     | FSLH|
//        | TAB | XXX | ENT |     | BSPC| SPACE | DEL |
        bindings = <
   &kp F1 &kp F2 &kp F3 &kp F4 &kp F5         &kp F8 &kp F9    &kp F10  &kp F11  &kp F12
   &none  &none  &none  &none  &kp F6         &kp F7 &kp GRAVE &kp LBKT &kp RBKT &kp BSLH 
   &none  &none  &none  &none  &none          &none  &none     &none    &none    &kp FSLH
           &kp TAB XXXXXX &kp ENTER             &kp BSPC &kp SPACE &kp DEL                 
                        >;
                };
        };
};
